body{
    background-color: rgb(19, 1, 34);
    color:gold;

}

h1{
    text-align: center;
    word-spacing: 20em;
    font-size: 36pt;
}
ul{
    text-align: center;
    font-size: 24pt;
    list-style-type: none;
    line-height-step: 2px;
}
li:hover{
    color:blue;
    cursor: pointer;
}

.flexbox-container{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;

}
.flexbox-item{
    width:50%;
    margin: none;
    border: 3px solid black;
    background-color: antiquewhite;
}
.flexbox-item-1 {
    min-height: 100px;   
}
.flexbox-item-2{
    min-height: 220px;
}
.flexbox-edit{
    height:18pt;
    
}.flexbox-edit2{
    height:18pt;
}

.box-1{
    background-color: rgb(19, 1, 34);
    color:gold;
    margin:auto;
    line-height: 2em;
    width:30%;  
}




.myform label{
display:box;
font-size: 16pt;
}

.form-group1 input {
    width:4em;
    text-align: justify;
}


.button:hover{
    background:crimson;
    cursor: pointer;
}

.button{
    background-color: aquamarine;
}
.button:active{
    color:gold;
}
.btn-text-center{
	text-align: center;	
}
.btn-text-right{
    text-align: left;
}
.Bank{
    font-size: 48pt;
    font-weight: bolder;
    display: block;
    text-align: center;
}
p{
    text-align: center;
    font-size: 28pt;
    text-decoration: underline;
}
footer {
        font-size: 18pt;
}
.Quotes {
    text-align: left;
}
.Return{
text-align: Right;
}
